 body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    width:100vw;
    font-family: "sans-serif";
    background:linear-gradient(to top left,white 40%,white);
  /*background-color: #f5f6fa;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /*This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    overflow-x:hidden;

}
#navbar{
    background: url("img/b2.png");
    background-color: #1B9CFC;
    background-repeat: repeat-y;
    color:white;
    font-size:2rem;
    z-index:2;
    padding:15px 0px;
    padding-right:10px;
}

a{
    color:white;
}
h1{
    margin-top:3%;
    font-size:4rem;
}
#logo{
    position:absolute;
    left:20px;
    top:25px;
    padding:5px;
    font-size:2.3rem;
    width:60px;
    height:50px;
    border-radius:6px;
    background-color:white;
    color:#1B9CFC;
}
.logo{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:2.4rem;
    font-family: 'Sedgwick Ave', cursive;
    padding:5px;
    width:60px;
    margin-left:auto;
    margin-right:auto;
    height:60px;
    margin-bottom:100px;
    border-radius:6px;
    background-color:white;
    color:#1B9CFC;
}
.icon{
    width:60px;
    height:50px;
    margin-top:10px;
    background-color: #ffffff;
    box-shadow:0px 2px 2px 0px white;
    border-radius:5px;
    margin-left: 30px;
}
#t1,#t2,#t3{
    display:none;
}
#i1:hover #t1{
    display: block;
}
#i2:hover #t2{
    display: block;
}
#i3:hover #t3{
 display: block;
}
#about-content{
    text-align: center;
    font-size:1.7rem;
    padding:0px 80px;
    margin-top:50px;
}
#one{
   font-size:2.5rem;
    color:blue;
    animation-name:design;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition:0.5s linear all;
    text-align: center;font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    font-weight: 800;
}
#profile-link{
    font-size:2rem;
    color:black;

}
#profile_img{
    display:block;
    border-radius:100%;
    margin-top:15%;
    margin-left:auto;
    margin-right:auto;

}

@keyframes design{
    0%{
        color:blue;
    }
    50%{
        color:red;
    }
    100%{
        color:blue;
    }
}
#projects{
   /* background-color:#1B9CFC ; */

    background: url("img/background.jpg");
    margin-top:18%;
    padding:0px;
    text-align: center;
    width:100vw;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 100px;

}
#title{

    padding:103px 0px;
    font-size:3rem;
    color:black;
    background-color: #1B9CFC;
    height:400px;
    z-index: -1;
    text-align: center;

}
#my-project{
    margin-left:5%;
    margin-top:-100px;
    z-index:1;
}

.cone .card{
    box-shadow:4px 4px 2px gray;
    border-bottom-color:#1B9CFC;
    border-top-color:gray;
    border-left-color:gray;
    border-right-color:gray;
    border-width:3.6px;
    border-bottom-width: 6px;
    transition:0.5s linear all;
}
.card{
    background-color:white;
}
img{
    height:250px;
    padding:3px;
}

#footer{
    color:white;
    padding-top:20px;
    padding-left:30px;
    padding-bottom: 10px;
  /*  background-color: white; */
    background-color:#1B9CFC ;

}

h3{
    margin-bottom:80px;
    color:yellow;
    font-size:3rem;
    font-family: cursive;
}
/* Layer */
.layer{
    padding: 0px;
    text-align:center;
    position:sticky;
    max-height:40px;
    max-width:40px;
    border-radius: 5px;
    transition: 0.01s linear all;
}
#lay{
    display:none;
}
.layer:hover{
    transform: rotateZ(315deg);
    box-shadow:-4px 2px 4px red,
                -8px 2px 4px blue,
                -12px 2px 4px white;
}
.layer:hover #lay{
    display:block;
}
#concept{
    margin-top: 10%;
}
/* Education */
#education{
    background: white;
    background: url("img/background.jpg");
    padding:0px;
    width:100vw;
    border:none;

}
#e-card{
    width:28rem;
    box-shadow:2px 2px 8px gray;
    border-radius: 4px;
    border-bottom-color:#1B9CFC;
    border-bottom-width:5px;

}
#e-card:hover{
    box-shadow:4px 10px 14px gray;
}
#education-header{
    background-color:#1B9CFC;
    height:400px;
    font-family: 'Montserrat', sans-serif;
    border:2px solid white;
    text-align:center;
    z-index:-1;
    padding:120px 0px;
}
#education-header h2{
    font-size:3rem;
}
#education-header{
    z-index:-1;
}
#my-education{
    margin-left:6%;
    margin-top:-120px;
    z-index:1;
    padding-bottom:100px;
}
.e-img{
    width:170px;
    height:170px;
    padding:0px;
    border-radius:100%;
    margin-left:140px;
    margin-top:-50px;
    box-shadow:4px 4px 14px gray;

}
.a-img{
    width:27.5rem;
    height:370px;
    padding:0px;

}
/*#a-card .card-body{
    display:none;
}
#a-card:hover .card-body{
    display:block;
}
*/
/* Contact Page */
.content{
    display:flex;
    padding:100px 10px 100px 30px;background-color:white;width:80%;margin:-60px auto;

}
#first-part{
    width:500px;
    padding:90px 90px;
    margin-top:auto;
    margin-bottom:auto;
    border-radius:10px;
    font-family:sans-serif;
    font-size:2.6rem;
    text-align:center;
    font-weight:900;
    background-color:#1B9CFC;
    color:white;
}
#second-part{
    margin-top: 20px;
    margin-left:56px;
    width:500px;
}
.cone{
    display:none;

}
.ctwo{
    display:none
}
.cthree{
    display:none;
}
.cfour{
    display:none;
}
.aone:hover .cone{
  display:block;

}
.atwo:hover .ctwo{
    display:block;
}
.athree:hover .cthree{
    display:block;
}
.afour:hover .cfour{
    display:block;
}
/* Flip Cards */
.flip-card {
    background-color: transparent;
    width: 300px;
    height:355px;
    margin:0px 5px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    user-select: none;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {

    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
  }


  /* Style the back side */
  .flip-card-back {
   /* background-color: dodgerblue; */
    background:white;
   /* background: url("img/background.jpg");  */
    border-bottom-width:3px;
    border-radius:3px;
    border-bottom-style: solid;
    border-bottom-color: #049dff;
    padding:10px 10px 10px 30px;
    color: black;
    transform: rotateY(180deg);
  }

/* Accomplishements Section */
#accomplishments{
    background-color:#f5f6fa;
    background: url("img/background.jpg");
    background-repeat: repeat-y;

    margin-bottom:10px;
}
#a-header{
    background-color:#1B9CFC;
    height:400px;
    border:2px solid white;
    text-align:center;
    z-index:-1;
    padding:120px 0px;

}
#my-accomplishments{
    margin-top:-120px;
    z-index:1;

    margin-left:100px;
}
#a-card{
    margin-top:30px;
    width:28rem;
    border-top-color:gray;
    border-left-color:gray;
    border-right-color:gray;
    border-width:3.6px;
    border-bottom-color:#1B9CFC;
    border-bottom-width:6px;
    box-shadow:2px 2px 8px gray;

}
#a-card:hover{
    box-shadow:4px 10px 14px gray;
}
/* Skills Section */
#skills{
    background-color:#f5f6fa;
    background: url("img/background.jpg");
    z-index:-1;

}
#skill-header{
    background-color:#1B9CFC;
    height:400px;
    border:2px solid white;
    text-align:center;
    z-index:-1;
    padding:120px 0px;
}
#skill-header h2{
    font-size:3rem;
    z-index:-1;
}
#skill-header{
    z-index:-1;
}
#skill-container{
  width:90%;
  padding:20px;
  border-radius:10px;
  margin-top:-140px;
  background-color: white;
  border-radius: 4px;
  border-bottom: 5px solid;
  z-index:-1;
  border-image: linear-gradient(to left, red, yellow, lime, aqua, blue, magenta, red) 1;
  box-shadow: 0px 0px 10px 2px gray;
}
#skill-title{
    margin-top:80px;
    z-index:-1;
}

.magictime {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.badge-box{
   margin-left:10%;
}
.badge-box .btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }
/* progress bar */

@media screen and (min-width:400px) and (max-width:1100px){
    body,html{
        overflow-x: hidden;
    }
    #navbar{
        font-size:1.2rem;
    }
    h1{
        font-size:2.5rem;
        margin-top: 5%;
    }
    #profile_img{
        width:100%;
        margin-top:55%;
        padding:0px 30%;
        box-shadow:none;
    }
    .bottom-image{
        width:20rem;

    }
    #about-content{
        text-align: left;
        font-weight:300;
        font-size:1rem;
        padding:0px 20px;
    }
    #one{
        font-size:1.8rem;
    }
    #projects{
       margin-top:8%;
    }
    #my-project{
        margin-left:12%;
    }
  .card{
        width:16rem;
    }
    #my-accomplishments{
        margin-left:0%;
    }
    #a-card{
        max-width:25rem;
        margin-top:30px;
    }
    .a-img{
        display:block;
        max-width:23.5rem;
        height:300px;
        margin-left:auto;
        margin-right:auto;
    }
    .flip-card{
        margin-top:5px;
    }
    .different{
        margin-top:-15px;
    }
    #my-education{
        margin-top: -180px;
    }
     #my-accomplishments{
        margin-top:-180px;
    }
    #e-card{
        width:18rem;
        text-align:center;
        margin-top:80px;
    }
   .e-img{
        width:80px;
        height:80px;
        margin-left:100px;
        margin-top:-50px;
        box-shadow:4px 4px 14px gray;
    }
    .content{
        flex-direction: column;
        padding:100px 10px 100px 10px;
        background-color:white;
        width:100vw;
        margin:-60px auto;
    }
    #first-part{
        margin-top:0px;
        width:100vw;
        margin-left:0px;
        padding:20px;
    }
    #second-part{
        margin-top:60px;
        margin-left:0px;
        width:100vw;
        padding:10px 40px;

    }
    .badge-box{
        margin-left:0%;
        display:flex;
        flex-direction: column;
        align-items:center;   
      }
      .skill-button{
          display:flex;
          align-items:center;
          width:300px;
      }
      .btn-label{
           width:70px;
           margin-right:10px;
      }

}

@media screen and (min-width:330px)  and (max-width:400px){
     body,html{
        overflow-x: hidden;
    }
    #navbar{
        font-size:1.2rem;
    }
    h1{
        font-size:2.5rem;
        margin-top: 10%;
    }
    #about-content{
        text-align: left;
        font: size 1.3rem;
        font-weight:400;
        font-size:1.5rem;
        padding:0px 20px;
    }
    #profile_img{
        width:100%;
        margin-top:52%;
        padding:0px 20%;
        box-shadow:none;
    }
    .bottom-image{
        width:14rem;
    }
    #one{
       font-size:1.8rem;
    }
    #projects{
       margin-top:10%;
    }
    .card{
       width:16rem;
    }
    .flip-card{
       margin-top:5px;
    }
    .different{
       margin-top:-15px;
    }
    #my-accomplishments{
       margin-left:1px;
    }
    #a-card{
      max-width:21rem;
      margin-top:30px;
    }
    .a-img{
        width:20.5rem;
        height:300px;
        margin-left:auto;

    }
    #a-card:nth-child(1){
        margin-top:40px;
    }
    #a-card:nth-child(2){
        margin-top:40px;
    }
    #a-card:nth-child(3){
        margin-top:40px;
    }

    #my-project{
        margin-left:6%;
    }

     #my-education{
         margin-top: -180px;
     }
     #my-accomplishments{
         margin-top:-180px;
     }
    #e-card{
     width:18rem;
     text-align:center;
     margin-top:80px;
    }
   .e-img{
    width:80px;
    height:80px;

    margin-left:100px;
    margin-top:-50px;
    box-shadow:4px 4px 14px gray;
    }
    .content{
        flex-direction: column;
        padding:100px 10px 100px 10px;
        background-color:white;
        width:100vw;
        margin:-60px auto;
    }
    #first-part{
        width:95vw;
        margin-left:0px;
        padding:20px 20px;
    }
    #second-part{
        margin-top:60px;
        margin-left:0px;
        width:98vw;
        padding:10px;
    }
    .badge-box{
      margin-left:0%;
      display:flex;
      flex-direction: column;
      align-items:center;   
    }
    .skill-button{
        display:flex;
        align-items:center;
        width:250px;
    }
    .btn-label{
         width:50px;
         margin-right:10px;
    }
}
@media screen and (max-width:330px){
    body,html{
        overflow-x: hidden;
    }
    #navbar{
        margin-left:0px;
        font-size:1rem;
    }
    #profile_img{
        width:100%;
        margin-top:52%;
        padding:0px 20%;
        box-shadow:none;
    }
    h1{
        font-size:2.5rem;
        margin-top: 20%;
    }
    #one{
        font-size:1.8rem;
    }
    #about-content{
        text-align: left;
        padding-left:5px;
        padding-right: 5px;
    }

    #projects{
        margin-top:15%;

    }

    .row{
        margin-left:0%;
    }
    #my-project{
        margin-left:1%;
    }
    #a-card{
        display:block;
        width:15rem;
        margin-left:-50px;

    }
    .flip-card{
        margin-top:5px;
    }
    .different{
        margin-top:-15px;
    }
    #e-card{

        width:16rem;
    }
    .e-img{
        width:120px;
        margin-left:65px;

    }
    #e-card:nth-child(1){
        margin-top:100px;
    }
    #my-education{
        padding:0px 30px;
        margin-left:-4%;
    }
    #skills{
        margin-top:40px;
    }
    #my-accomplishments{
        margin-left:15.5%;
    }
    #a-card{
        width:18rem;
    }
    .a-img{
        width:17.6rem;
    }
    #a-card:nth-child(1){
        margin-top:40px;
    }
    #a-card:nth-child(2){
        margin-top:40px;
    }
    #a-card:nth-child(3){
        margin-top:40px;
    }
    .content{
        flex-direction: column;
        padding:100px 10px 100px 10px;
        background-color:white;
        width:100vw;
        margin:-60px auto;
    }
    #first-part{
        width:96vw;
        margin-left:0px;
        padding:20px 20px;
    }
    #second-part{
        margin-top:60px;
        margin-left:0px;
        width:300px;
        padding:10px;
    }
    .badge-box{
        margin-left:0%;
        display:flex;
        flex-direction: column;
        align-items:center;   
      }
      .skill-button{
          display:flex;
          align-items:center;
          width:250px;
      }
      .btn-label{
           width:50px;
           margin-right:10px;
      }
}
